[package]
name = "sfnc"
version = "0.1.0"
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
publish = false

[dependencies]
serde = { workspace = true, optional = true }

[features]
default = []
